
@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Strichpunkt+Sans:wght@400..900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poltawski nowy", sans-serif;
}


header{
    position: fixed;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    top:0;
    left:0;
    padding:20px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#CFE8EF;

}


.logo{
    display:flex;
    gap:15px;
    align-items:center;
}


.logo img{
    width:50px;
    height:50px;
    border-radius: 50%;
    object-fit: cover;
}



body{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    background:#D0D1FF;
    padding:0 10px;
}

.container{
    width:850px;
    background:#fff;
    display:flex;
    align-items:flex-end;
    gap:70px;
    padding:60px 40px;
    border-radius:12px;
    margin-top:60px;
}


.hangman-container img{
    max-width:250px;

}


.hangman-container h1{
    font-size:2rem;
    margin-top:20px;
    text-transform:uppercase;
}


.worddisplay{
    display:flex;
    list-style:none;
    gap:10px;
    align-items:center;
    justify-content:center;
}

.worddisplay .letter{
width:28px;
border-bottom: 3px solid #000;
margin-bottom: 40px;
font-weight:600;
font-size:2rem;
text-transform:uppercase;
text-align:center;
}

.worddisplay .letter.guessed{
    border-color: transparent;
    margin: -40px 0 35px;
}

.gamebox h4{
    text-align:center;
    font-size:1.1rem;
    font-weight:500;
    margin-bottom: 15px;

}


.gamebox h4 b{
    font-weight:600;
}


.gamebox .guess-txt b{
    color:#ff0000;


     
}


.gamebox .keyboard{
    display:flex;
    gap:5px;
    margin-top:40px;
    flex-wrap:wrap;
    justify-content:center;

}

:where(.game-mdl, .keyboard) button{
    color:#fff;
    font-size:1.0rem;
    font-weight:500;
    outline:none;
    background:#5E63BA;
    border-radius:4px;
    cursor:pointer;
    border:none;
    text-transform:uppercase;
}

.keyboard button{
    width:calc(100% / 9 - 5px);
padding:7px;
    

}

.keyboard button[disabled]{
    opacity:0.6;
    pointer-events:none;
}


:where(.game-mdl, .keyboarad) button:hover{
    background:#8286C9;
}

.game-mdl{
    position:fixed;
    display:flex;
    align-items:center;
    justify-content:center;
    left: 0;
    top: 0;
    opacity:0;
    padding:10px;
    pointer-events:none;
    z-index:999;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    transition:opacity 0.4s ease;

}

.game-mdl.show{
opacity:1;
pointer-events:auto;
}


.game-mdl .content{
background:#fff;
max-width:400px;
width:100%;
text-align:center;
border-radius:10px;
padding:30px;
}



.game-mdl img{
    max-width: 130px;
    margin-bottom:20px;

}


.game-mdl h4{
    font-size:1.7rem;
}


.game-mdl p{
    font-size:1.1rem;
    margin:15px 0 25px;
    font-weight:600;
}

.game-mdl p b{
color:#8187DC;
font-weight:600;
}

.game-mdl button{
    padding:12px 20px;
}




footer{
    text-align:center;
    margin-top:40px;
    padding:10px;
}


.ftr-text{
font-size:1.2rem;
color:#495057;
}


.github-lnk{
    text-decoration:none;
    color:black;
    font-size:1.5rem;
}

@media (max-width:782px){
    .container{
        flex-direction:column;
        padding :30px 10px;
        align-items:center;
    }

    .hangman-container img{
        max-width:200px;
    }

    .hangman-container h1{
        display:none;
    }
}

